<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <div
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin5"
      data-sidebartype="full"
      data-sidebar-position="absolute"
      data-header-position="absolute"
      data-boxed-layout="full"
    >
    <%- include('../partials/sidebr.ejs')  %> 

    <div class="page-breadcrumb">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Tables</h4>
            <div class="ms-auto text-end">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/home">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Prodact
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="page-wrapper">
    <div class="container-fluid">
        
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Basic Datatable</h5>
      <div class="table-responsive">
        <table
          id="zero_config"
          class="table table-striped table-bordered"
        >
          <thead>
            <tr>
               <th>id</th>
              <th>رقم الباركود</th>
              <th>وصف المنتج</th>
              <th>اسم المنتج</th>
              <th>مكونات المنتج</th>
              <th>تاريخ انتهاء الصلاحية</th>
              <th>بلد الصنع</th>
            </tr>
          </thead>
          <tbody>
              


            <% if (data){ %> 
            <% data.forEach(function(element) { %>
              
          
            <tr>
              <td><%= element.id  %> </td>
              <td><%= element.prodactname %></td>
              <td><p>
                <%= element.prodactdescription %>
              </p></td>
              <td><%= element.prodactcountry %> </td>
              <td> <p> <%= element.prodactmade %>  </p></td>
              <td> <%= element.prodactexpired  %>  </td>
              <td> <%= element.prodactbarcode  %> </td>
            </tr>
          <%   }); %> 
           <% } %> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
    </div>
</div>


<%- include('../partials/bottom') %>
</body>
</html>
